<div class="row">
    <div class="col-xxxl-3 col-md-3">
      <ngx-status-card title="Basins" type="primary">
        <i class="nb-lightbulb"></i>
      </ngx-status-card>
    </div>
  
    <div class="col-xxxl-3 col-md-3">
      <ngx-status-card title="Sub Basins" type="success">
        <i class="nb-roller-shades"></i>
      </ngx-status-card>
    </div>
  
    <div class="col-xxxl-3 col-md-3">
      <ngx-status-card title="Fields" type="warning">
        <i class="nb-audio"></i>
      </ngx-status-card>
    </div>
  
    <div class="col-xxxl-3 col-md-3">
      <ngx-status-card title="Projects" type="primary">
        <i class="nb-keypad"></i>
      </ngx-status-card>
    </div>

    <div class="col-xxxl-3 col-md-4">
      <ngx-status-card title="Blocks" type="warning">
        <i class="nb-layout-default"></i>
      </ngx-status-card>
    </div>
    <div class="col-xxxl-3 col-md-4">
      <ngx-status-card title="Wells" type="info">
        <i class="nb-plus-circled"></i>
      </ngx-status-card>
    </div>
    <div class="col-xxxl-3 col-md-4">
      <ngx-status-card title="Quadrants" type="success">
        <i class="nb-paper-plane"></i>
      </ngx-status-card>
    </div>
    
  </div>
  <div class="row">
      <div class="col-xxxl-3 col-xxl-12 col-lg-5 col-md-6">
        <ngx-gmaps></ngx-gmaps>
      </div>
  </div>



  <!-- <div class="row">
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-temperature></ngx-temperature>
    </div>
  
    <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
      <ngx-electricity></ngx-electricity>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xxxl-9 col-xl-12">
      <ngx-rooms></ngx-rooms>
    </div>
  
    <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
      <ngx-contacts></ngx-contacts>
    </div>
  
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-solar [chartValue]="72"></ngx-solar>
  
      <ngx-kitten></ngx-kitten>
    </div>
  
    <div class="col-xxxl-3 col-xxl-4 col-md-5">
      <ngx-traffic></ngx-traffic>
      <ngx-weather></ngx-weather>
    </div>
  
    <div class="col-xxxl-6 col-xxl-12 col-md-7">
      <ngx-security-cameras></ngx-security-cameras>
    </div>
  </div>
   -->